<main>
    <section>
        <div class="hero">
            <h1>Desenvolvedor Fullstack</h1>
            <h2>Sou Wesley Ezequiel</h2>
            <span>Eu desenvolvo produtos digitais com otima experiencias</span>
            <div class="buttons">
                <button class="contrato">Contratar <img width="22" height="22"
                        src="https://img.icons8.com/material-sharp/24/FFFFFF/plus-math--v1.png"
                        alt="plus-math--v1" /></button>
                <button class="copy">Copiar email
                    <img width="22" height="22" src="https://img.icons8.com/windows/32/737373/copy.png" alt="copy" />
                </button>
            </div>
        </div>
        <div class="profile">
            <button>DISPONIVEL <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA9UlEQVR4nO2VO24CQQxAtwm5C4GKHm+ouMDYnIDbJGIFgpvQ8LGVOh2bg7ChzIrI0pIg8RHrGQkhzZNcv/F3kiQSidyDrrg2MGYgmIPgroocGEfA2Aou7M/7z6ngFBjLVGh/LkDoBxgnLneNcFKm9SXhyQMYV0HkqdDsVul/4DhET8u6Yi3762rwYhYDY1Y/27+s3z3E9GUX08YsToW+zWKmwi5mKqxiYNw+XqmBceSR8ZuPuKWrYVmn3odrmsWKnkFDtlnii8tdAwSXNcSLzufwyVt8kOsZvFb26pPIgkmP0TOoF0knttpxjY0OkndPI5FIYuQXZ53zeflqXIgAAAAASUVORK5CYII=">

            </button>
            <img src="../../../assets/section hero/profile.svg" alt="">
        </div>
    </section>

    <div class="skills">
        <ul>
            <li><img src="../../../assets/skills/Angular.svg" alt=""></li>
            <li><img src="../../../assets/skills/Java.svg" alt=""></li>
            <li><img src="../../../assets/skills/React.svg" alt=""></li>
            <li><img src="../../../assets/skills/CSS.svg" alt=""></li>
            <li><img src="../../../assets/skills/JS.svg" alt=""></li>
            <li><img src="../../../assets/skills/Git.svg" alt=""></li>
        </ul>
    </div>
    <div class="about">
        <div class="trilha">
            <h3 class="title">Trilha de carreira</h3>
            <ul>
                <li>
                    <div class="card1">
                        <h1>Desenvolvedor Fullstack</h1>
                        <p>Freelancer</p>
                    </div>
                    <span>2023-Momento</span>
                </li>
                <li>
                    <div class="card2">
                        <h1>Analista de sistemas</h1>
                        <p>Casa das Peças</p>
                    </div>
                    <span>2024-2024</span>
                </li>
                <li>
                    <div class="card2">
                        <h1>Estagiario de Desenvolvimento</h1>
                        <p>Grupo Andrade</p>
                    </div>
                    <span>2023-2024</span>
                </li>
                <li>
                    <div class="card4">
                        <h1>Analista de planejamento</h1>
                        <p>AeC</p>
                    </div>
                    <span>2021-2023</span>
                </li>
            </ul>
        </div>
        <div class="service">
            <div class="hardskills">
                <div class="titlecard">
                    <h3>Serviços</h3>
                </div>
                <div class="dev">
                    <h2>Desenvolvedor fullstack</h2>
                </div>
                <div class="product">
                    <h2>Product Design</h2>
                </div>
                <div class="analista">
                    <h2>Analista de Dados</h2>
                </div>
            </div>
        <div class="cv">
            <div class="text">
                <h3>Curriculo</h3>
                <span>Veja meu CV</span>
            </div>
            <img class="arrow" src="../../../assets/service/cv.svg" alt="">
        </div>
    </div>
    </div>
    <div class="project">
        <div class="title-project">
            <h3>Projetos revolucionariso</h3>
        </div>
    </div>


</main>